

ul {
    list-style-image: url("Assets/play.png");
}

.container {
    width: 700px;
    margin: auto;
}

.header {
    text-align: center;
    background-color: #d4d0c8;
    padding: 20px 0;
    vertical-align: center;
    line-height: 50px;
    border: 1px solid #39af47;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ec1212;
    font-size: 40px;
    letter-spacing: 2px;
    max-height: 90px;
    font-family: "Jersey 10";
}

.header a {
    text-decoration: none;
    color: #ec1212;
}

.siteurl {
    background-color: white;
    margin-top: 5px;
    border: 1px solid grey;
    padding: 2px;
}

.navi {
    display: inline;
    color: #14d52a;
    text-align: center;
    text-transform: uppercase;
    width: 700px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px;
}

ul.navi {
    display: block;
    list-style-type: none;
    width: auto;
}

li.navi {
    list-style-type: none;
    background: #2b1258;
    padding: 5px;
    border-left: 2px solid grey;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid grey;
    width: auto;
}

.navi a {
    color: #14d52a;
}

.navi a:hover {
    color: white;
    background: #6a49a5;
}

a:hover {
    background: white;
}

.title {
    font:
        9px arial #14d52a bold,
        calibri;
    text-transform: uppercase;
    font-weight: bold;
    color: #14d52a;
    background: #e3f4e2 url(Assets/banner.png);
    background-size: 100%;
    letter-spacing: 3px;
    padding-left: 4px;
    border: 1px solid black;
    border-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

img.cross {
    float:right;
    margin-right: 4px;
}

.box {
    border: 1px solid #14d52a;
    background-color: #d4d0c8;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar {
    margin-top: 5px;
    padding: 0;
    width: 210px;
}

.content {
    width: 482px;
    float: right;
}

body {
    padding: 1rem;
    background-image: url("Assets/bg.jpg");
    background-size: 1080px;
    font-family: "Quantico", lato, calibri, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 0 1px #bbb;
    color: #000000;
    letter-spacing: 1px;
    line-height: 13px;
}

h1 {
    font-family: "Jersey 10", monospace;
    letter-spacing: 3px;
}

/*fonts */

.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quantico-bold {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.quantico-regular-italic {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.quantico-bold-italic {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
